.contentContactsPage {
  text-align: center;
}

.contactsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  flex-shrink: 0;
  align-content: stretch;
  margin-top: 2rem;
}

.pageContacts {
  gap: 2rem;
  white-space: nowrap;
  place-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  text-align: start;
  font-size: 1rem;
  background: var(--card);
  border: 1px solid var(--foreground);
  border-radius: 16px;
  animation: fade-in 0.6s ease-out 0.3s forwards;
  opacity: 0;
}

.pageContactItem {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  gap: 1rem;
}

.pageContactIcon {
  width: 2rem;
}

.form {
  animation: fade-in 0.6s ease 0.6s forwards;
}

@media (width <= 900px) {
  .contactsWrapper {
    grid-template-columns: 100%;
  }

  .pageContactItem {
    font-size: clamp(1.2rem, 3.5vw, 2rem);
  }
}

/* Анимации */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
